<!-- 11.3.4computedSetter -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11.3.4computedSetter</title>
</head>
<body>
    <div id="app">
        <p>First name: <input type="text" v-model="firstName"></p>
        <p>Last name: <input type="text" v-model="lastName"></p>
        <p>{{ fullName }}</p>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const { ref, computed } = Vue;
        const vm = Vue.createApp({
            setup() {
                const firstName = ref('Smith');
                const lastName = ref('Will');
                const fullName = computed({
                    get: () => firstName.value + ' ' + lastName.value,
                    set: val => {
                        let names = val.split(' ')
                        firstName.value = names[0]
                        lastName.value = names[names.length - 1]
                    }
                });
                return {
                    firstName,
                    lastName,
                    fullName,
                }
            }
        }).mount('#app');
    </script>
</body>
</html>