<!-- 5.1.7v-for-key改进 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5.1.7v-for-key属性</title>
</head>
<body>
    <div id="app">
        <p>
            ID:<input type="text" v-model="bookId"/>
            书名：<input type="text" v-model="title"/>
            <button v-on:click="add()">添加</button>
        </p>
        <p v-for="book in books" v-bind:key="book.id">
            <input type="checkbox">
            <span>ID: {{ book.id }}, 书名： {{ book.title }}</span>
        </p>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    bookId: '',
                    title: '',
                    books: [
                        { id: 1, title: '我在等一分钟' },
                        { id: 2, title: '湿滑通道' },
                        { id: 3, title: '市话通大' },
                    ]
                }
            },

            methods: {
                add() {
                    this.books.unshift({
                        id: this.bookId,
                        title: this.title,
                    });
                    this.bookId = '';
                    this.title = '';
                }
            }
        }).mount('#app');
    </script>

    <!--  -->
</body>
</html>