<!-- 5.1.3.7key属性 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5.1.7v-for-key属性</title>
</head>
<body>
    <div id="app">
        <p>
            ID:<input type="text" v-model="bookId"/>
            书名：<input type="text" v-model="title"/>
            <button v-on:click="add()">添加</button>
        </p>
        <p v-for="book in books">
            <input type="checkbox">
            <span>ID: {{ book.id }}, 书名： {{ book.title }}</span>
        </p>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    bookId: '',
                    title: '',
                    books: [
                        { id: 1, title: '我在等一分钟' },
                        { id: 2, title: '湿滑通道' },
                        { id: 3, title: '市话通大' },
                    ]
                }
            },

            methods: {
                add() {
                    this.books.unshift({
                        id: this.bookId,
                        title: this.title,
                    });
                    this.bookId = '';
                    this.title = '';
                }
            }
        }).mount('#app');
    </script>

    <!-- 这段代码预先定义了一个books数组对象，通过v-for指令遍历该数组，同事提供了两个输入框，在用户输入图书的ID和书名后，
    向数组中添加一个新的图书对象。我们使用的是数组的unshift()方法，该方法向数组的开头添加一个或多个元素。但是勾选第一个选项后，
    在输入新的图书ID和书名，向books数组的开头添加一个新的图书对象。
    
    结果发现，原来第一个勾选的选项内容，会被新加入的内容替换。显然不是我们想要的结果。产生问题的原因是：当Vue正在更新v-for渲染
    的元素来匹配数据项的顺序，而是就地更新每个元素，并且确保它们在每个索引位置正确渲染。在本例中，勾选第一个选项内容时，指令记住
    了勾选的数组下标为0，当向数组中添加新的元素后，虽然数组长度发生了变化，但是指令只记得勾选的数组下标，于是就把新数组中下标为
    0的内容勾选了 -->
</body>
</html>