<!-- 5.1.3.8v-for-v-if一同使用 -->

<!-- 如果在渲染一个列表时，对列表中的某些项需要根据条件判断是否渲染，那么就可以将v-if和v-for联合
一起使用。不过，当v-if和v-for在同一个元素上使用时，v-if的优先级比v-for要高，这意味着v-if条件不能
访问v-for范围内的变量
错误示范：
<li v-for="plan in plans" v-if="plan.isComplete">
    {{ plan.content }}
</li>
\\抛出错误，提示isComplete属性没有定义

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5.1.8v-for-v-if一同使用</title>
</head>
<body>
    <div id="app">
        <h1>已完成的工作计划</h1>
        <ul>
            <template v-for="plan in plans">
                <li v-if="plan.isComplete">
                    {{ plan.content }}
                </li>
            </template>
        </ul>

        <h1>未完成的工作计划</h1>
        <ul>
            <template v-for="plan in plans">
                <li v-if="!plan.isComplete">
                    {{ plan.content }}
                </li>
            </template>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    plans: [
                        {content: 'Vue深入详解', isComplete: false },
                        {content: '买菜', isComplete: false },
                        {content: '卖肉', isComplete: true },
                        {content: '做饭', isComplete: false },
                        {content: '赚钱', isComplete: true },
                    ],
                }
            }
        }).mount('#app');
    </script>
</body>
</html>